include ../button-with-icon/button-with-icon

.slider
    .slider__desc.slider__col_left
        .slider__desc-info
            h2.slider__desc-title Сайт школы онлайн<br>образования
            .slider__desc-skills
                | HTML, css, javascript
            .slider__desc-button
                +button-with-icon('js_show_site', 'Посмотреть сайт', 'link')
    .slider__display.slider__col_right
        .slider__display-container
            .slider__preloader Загрузка...
                .slider__preloader-spinner
                    .slider__preloader-animation
            img(src=require("../../images/slider/slide_1.png") alt="").slider__display-img
    .slider__button-control
        a(href="#").slider__button.slider__button_left
            ul.slider__button-list
                - for (var i = 1; i <= 4; i++)
                    li.slider__button-item(class=`${(i == 4) ? 'slider__button-item_active' : ''}`)
                        img.slider__button-img(src=require(`../../images/slider/slide_${i}_min.png`), alt='' data-img=require(`../../images/slider/slide_${i}.png`))
            svg(class=("slider__button-icon"))
                use(xlink:href=require("../../images/sprite.svg") + "#portf_arrow_down")
            .slider__button-bg
        a(href="#").slider__button.slider__button_right
            ul.slider__button-list
                - for (var i = 1; i <= 4; i++)
                    li.slider__button-item(class=`${(i == 2) ? 'slider__button-item_active' : ''}`)
                        img.slider__button-img(src=require(`../../images/slider/slide_${i}_min.png`), alt='' data-img=require(`../../images/slider/slide_${i}.png`))
            svg(class=("slider__button-icon"))
                use(xlink:href=require("../../images/sprite.svg") + "#portf_arrow_up")
            .slider__button-bg